@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    background-color: #fff;
}
body {
    display: block;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
    text-rendering: optimizeLegibility;
}

.logo {
    margin-top: -1.5rem;
}

h1 {
    color: #901c1c;
    /* padding-top: 24px; */
    margin-top: 1rem;
    margin-right: 3rem;
}

#top {
    display: none;
    text-align: center;
    margin-top: -14px;
}

.goToContent {
    border-radius: 20px;
    color: #000000;
    width: 150px;
    font-weight: 600;
    padding: 10px;
    background-color: #d3573c;
    border: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 8vw;
    margin-bottom: 4rem;
}

header img {
    width: 448px;
    height: 104px;
    margin: 0;
    margin-left: -1.5rem;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.photographers {
    text-align: center;
}

.btn {
    background-color: white;
    border: 1px solid #ccc;
    color: dimgray;
    padding: 0.5rem;
    text-transform: lowercase;
}
.btn--block {
    display: block;
    width: 50%;
    text-align: center;
    margin: auto;
}
.pointeur {
    cursor: pointer;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.cards__item {
    display: flex;
    justify-content: center;
    padding: 1rem;
    text-align: center;
}
@media (min-width: 40rem) {
    .cards__item {
        display: flex;
        justify-content: center;
        width: 50%;
    }
}
@media (min-width: 56rem) {
    .cards__item {
        display: flex;
        justify-content: center;
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    /* border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25); */
    display: flex;
    flex-direction: column;
    /* width: 265px; */
    overflow: hidden;
    text-align: center;
}

.card__a {
    text-decoration: none;
}

.card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}
.card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    overflow: hidden;
    position: relative;
    filter: contrast(100%);
}

.img__card {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
    padding-top: 0.2rem;
}

.img__card:hover {
    border-radius: 50%;
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
    filter: contrast(125%);
    box-shadow: 2px 2px 2px 2px rgb(231, 231, 231);
}

/* .card__image::before {
    content: "";
    display: block;
    padding-top: 56.25%;
} */
@media (min-width: 40rem) {
    .card__image::before {
        padding-top: 66.6%;
    }
}

#getJSON {
    justify-content: center;
}

.card__title {
    color: #d2573c;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
}

p.card__text {
    margin: 0;
}

p.card__place {
    color: #901c1c;
    font-weight: 500;
}

.card__text {
    flex: 1 1 auto;
    color: black;
    font-size: 0.875rem;
    line-height: 1.5;
}

.card__tagline {
    color: #004242;
    font-size: smaller;
    font-weight: 500;
}

p.card__price {
    color: #aaaaaa;
    color: #4d4d4d;
    font-size: smaller;
    font-weight: 400;
}

.tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

li.photographer-tag {
    color: #901c1c;
    font-size: smaller;
    font-weight: 500;
    padding: 3px 7px;
    border: 1px solid #c2c2c2;
    border-radius: 14px;
    margin: 5px;
    list-style-type: none;
}

li.photographer-tag:hover {
    color: white;
    background-color: #901c1c;
    border: none;
    border: 1px solid #901c1c;
}

#allTags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: #901c1c;
    font-size: smaller;
    font-weight: 500;
    padding: 5px;
    border: none;
    border-radius: 14px;
    margin: auto;
    margin-top: 1rem;
    list-style-type: none;
    cursor: pointer;
}
